/* styles.css */
.root {
    -fx-background-color: #1b202d;
}

.button {
    -fx-background-color: #2c303c;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 3px 7px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #10365e;
}



.text {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.center-box {
    -fx-background-color: transparent;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.header1 {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.description {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}
